<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fast.mall.mapper.BookMapper">

    <resultMap type="Book" id="BookResult">
        <result property="bookId"    column="book_id"    />
        <result property="categoryId"    column="category_id"    />
        <result property="title"    column="title"    />
        <result property="author"    column="author"    />
        <result property="cover"    column="cover"    />
        <result property="price"    column="price"    />
        <result property="description"    column="description"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <select id="selectBookList" parameterType="Book" resultMap="BookResult">
        select book_id, category_id, title, author, cover, price, description, create_time from book
        <where>
            <if test="categoryId != null  and categoryId != ''"> and category_id = #{categoryId}</if>
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="author != null  and author != ''"> and author like concat('%', #{author}, '%')</if>
        </where>
    </select>

    <select id="selectBookByBookId" parameterType="String" resultMap="BookResult">
select book_id, category_id, title, author, cover, price, description, create_time from book
        where book_id = #{bookId}
    </select>

    <insert id="insertBook" parameterType="Book">
        insert into book
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bookId != null">book_id,</if>
            <if test="categoryId != null and categoryId != ''">category_id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="author != null and author != ''">author,</if>
            <if test="cover != null and cover != ''">cover,</if>
            <if test="price != null">price,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bookId != null">#{bookId},</if>
            <if test="categoryId != null and categoryId != ''">#{categoryId},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="author != null and author != ''">#{author},</if>
            <if test="cover != null and cover != ''">#{cover},</if>
            <if test="price != null">#{price},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateBook" parameterType="Book">
        update book
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryId != null and categoryId != ''">category_id = #{categoryId},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="author != null and author != ''">author = #{author},</if>
            <if test="cover != null and cover != ''">cover = #{cover},</if>
            <if test="price != null">price = #{price},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where book_id = #{bookId}
    </update>

    <delete id="deleteBookByBookIds" parameterType="String">
        delete from book where book_id in
        <foreach item="bookId" collection="array" open="(" separator="," close=")">
            #{bookId}
        </foreach>
    </delete>
</mapper>
