<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fast.mall.mapper.BookMapper">

    <resultMap type="Book" id="BookResult">
        <result property="bookId"    column="book_id"    />
        <result property="categoryId"    column="category_id"    />
        <result property="title"    column="title"    />
        <result property="author"    column="author"    />
        <result property="cover"    column="cover"    />
        <result property="price"    column="price"    />
        <result property="description"    column="description"    />
        <result property="createTime"    column="create_time"    />
        <result property="name"    column="name"    />
        <result property="isRecommend"    column="is_recommend"    />
    </resultMap>

    <select id="selectBookList" parameterType="Book" resultMap="BookResult">
        select b.book_id, b.category_id, b.title, b.author, b.cover, b.price,
        b.description, b.create_time, b.is_recommend,
        c.name
        from book b
        left join category c on b.category_id = c.category_id
        <where>
            <if test="categoryId != null  and categoryId != ''"> and b.category_id = #{categoryId}</if>
            <if test="title != null  and title != ''"> and b.title like concat('%', #{title}, '%')</if>
            <if test="author != null  and author != ''"> and b.author like concat('%', #{author}, '%')</if>
        </where>
        order by b.create_time desc
    </select>

    <select id="selectBookByBookId" parameterType="String" resultMap="BookResult">
        select book_id, category_id, title, author, cover, price, description, create_time, is_recommend from book
        where book_id = #{bookId}
    </select>

    <!--查询之前是否已经有推荐的图书-->
    <select id="selectIsRecommend" resultType="java.lang.Boolean">
        select count(book_id)
        from book
        where is_recommend = true
    </select>

    <!--查询之前已经推荐的图书ID-->
    <select id="selectBookIdByIsRecommend" resultType="java.lang.String">
        select book_id
        from book
        where is_recommend = true
    </select>

    <!--查询推荐的图书-->
    <select id="selectRecommendBook" resultMap="BookResult">
        select book_id, category_id, title, author, cover, price, description,
               create_time, is_recommend from book
        where is_recommend = true
    </select>

    <insert id="insertBook" parameterType="Book">
        insert into book
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bookId != null">book_id,</if>
            <if test="categoryId != null and categoryId != ''">category_id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="author != null and author != ''">author,</if>
            <if test="cover != null and cover != ''">cover,</if>
            <if test="price != null">price,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bookId != null">#{bookId},</if>
            <if test="categoryId != null and categoryId != ''">#{categoryId},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="author != null and author != ''">#{author},</if>
            <if test="cover != null and cover != ''">#{cover},</if>
            <if test="price != null">#{price},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateBook" parameterType="Book">
        update book
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryId != null and categoryId != ''">category_id = #{categoryId},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="author != null and author != ''">author = #{author},</if>
            <if test="cover != null and cover != ''">cover = #{cover},</if>
            <if test="price != null">price = #{price},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="isRecommend != null">is_recommend = #{isRecommend},</if>
        </trim>
        where book_id = #{bookId}
    </update>

    <delete id="deleteBookByBookIds" parameterType="String">
        delete from book where book_id in
        <foreach item="bookId" collection="array" open="(" separator="," close=")">
            #{bookId}
        </foreach>
    </delete>
</mapper>