<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fast.mall.mapper.CategoryMapper">

    <!-- 定义Category实体类与数据库表的映射关系 -->
    <resultMap id="CategoryResult" type="Category">
        <result property="categoryId" column="category_id"/>
        <result property="name" column="name"/>
        <result property="sort" column="sort"/>
    </resultMap>

    <!-- 查询图书分类列表, 并根据排序字段正序排序-->
    <select id="selectCategoryList" parameterType="Category" resultMap="CategoryResult">
        select category_id, name, sort
        from category
        <where>
            <if test="name != null and name != ''"> and name like concat('%', #{name} ,'%') </if>
        </where>
        order by sort
    </select>

    <!--获取图书分类详细信息-->
    <select id="selectCategoryByCategoryId" parameterType="String" resultMap="CategoryResult">
        select category_id, name, sort
        from category
        where category_id = #{categoryId}
    </select>

</mapper>