<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fast.mall.mapper.EvaluateMapper">

    <resultMap type="Evaluate" id="EvaluateResult">
        <result property="evaluateId"    column="evaluate_id"    />
        <result property="bookId"    column="book_id"    />
        <result property="rating"    column="rating"    />
        <result property="content"    column="content"    />
        <result property="userId"    column="user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="title"    column="title"    />
        <result property="userName"    column="user_name"    />
    </resultMap>

    <select id="selectEvaluateList" parameterType="Evaluate" resultMap="EvaluateResult">
        select e.evaluate_id, e.book_id, e.rating, e.content, e.user_id, e.create_time,
        b.title,
        u.user_name
        from evaluate e
        left join book b on e.book_id = b.book_id
        left join sys_user u on e.user_id = u.user_id
        <where>
            <if test="bookId != null  and bookId != ''"> and e.book_id = #{bookId}</if>
            <if test="userId != null "> and e.user_id = #{userId}</if>
            <if test="title != null  and title != ''">
                and b.title like concat('%', #{title}, '%')
            </if>
            <if test="userName != null  and userName != ''">
                and u.user_name like concat('%', #{userName}, '%')
            </if>
        </where>
        order by e.create_time desc
    </select>

    <select id="selectEvaluateByEvaluateId" parameterType="String" resultMap="EvaluateResult">
select evaluate_id, book_id, rating, content, user_id, create_time from evaluate
        where evaluate_id = #{evaluateId}
    </select>

    <insert id="insertEvaluate" parameterType="Evaluate">
        insert into evaluate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="evaluateId != null">evaluate_id,</if>
            <if test="bookId != null and bookId != ''">book_id,</if>
            <if test="rating != null">rating,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="userId != null">user_id,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="evaluateId != null">#{evaluateId},</if>
            <if test="bookId != null and bookId != ''">#{bookId},</if>
            <if test="rating != null">#{rating},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateEvaluate" parameterType="Evaluate">
        update evaluate
        <trim prefix="SET" suffixOverrides=",">
            <if test="bookId != null and bookId != ''">book_id = #{bookId},</if>
            <if test="rating != null">rating = #{rating},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where evaluate_id = #{evaluateId}
    </update>

    <delete id="deleteEvaluateByEvaluateIds" parameterType="String">
        delete from evaluate where evaluate_id in
        <foreach item="evaluateId" collection="array" open="(" separator="," close=")">
            #{evaluateId}
        </foreach>
    </delete>
</mapper>
